<nav>
  <a href="/" class="blogHeader">BLOG PAGE</a>
  <div class="navbar">
    <p>BLOG PAGE</p>
    <div class="anchor-list">
      <a href="/">Blogs</a>
      <a href="/about">About</a>
      <a href="/blogs/create">New Blog</a>
    </div>
  </div>
</nav>
